footer {
    p {
        display: block;
        text-align: center;
        font-size: 14px;
        margin: 0px 0px 50px 0px;
    }

    .logo-rodape {
        img {
            
            display: block;
            width: 200px;
            height: 200px;
            margin: 35px auto 20px;
        }
    }
}