


header {
    /* @include clearfix; */
    min-height: 350px;
    background-image: url('/img/home-background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

    /* .container {
        max-width: 800px;
    }
 */
    .logo {
        float: left;
        margin: 30px 0;
        img {
            width: 300px;
            height: 79px;
        }
    }
    .links {
        float: right;
        margin: 52px 0;

        nav, .social {
            display: inline-block;

        }
        nav {
            ul {
                li {
                    display: inline-block;
                    margin: 0 0 0 20px;

                    a {

                        /* text-transform: uppercase; */
                        text-decoration-line: none;
                        font-size: 14px;
                        font-weight: 400;
                        color: $branco;
                        @include transition(.4s);
                            &:hover, &:focus {
                            color: $laranja;
                        }

                    }
                }
            }
        }
        .social {
            li {
                display: inline-block;
                font-size: 20px;
                margin: 0 0 0 20px;
                color: $branco;
            }
        }
    }


    h1 {
        /* clear: both; */
        display: inline-block;
        width: 100%;
        margin-top: 90px;
        font-size: 45px;
    }

    h1, p {
        color: $branco;
        text-align: center;
    }

    span.trespontos {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }
    

} 


