
header {
    @include clearfix;
    min-height: 348px;
    background-image: url('/img/home-background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    size: cover;
    
    .logo {
        float: left;
        img {
            width: 300px;
            height: 79px;
        }
    }
    .links {
        float: right;
        
        nav, .social {
            display: inline-block;
            
        }
        nav {
            ul {
                li {
                    display: inline-block;
                    margin: 0px 20px 0px 0px;

                    a {
                        
                        text-transform: uppercase;
                        text-decoration-line: none;
                        font-weight: 600;
                        color: $branco;
                        @include transition(.4s);
                            &:hover, &:focus {
                            color: $laranja;
                        }
                        
                    }
                }
            }
        }
        .social {
            li {
                display: inline-block;
                margin: 0px 20px 0px 0px;
                color: $branco;
            }
        }
    }
}

h1, p {
    clear: both;
    color: $branco;
}